{% include "main.html" %}
  <div class="block"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          GMT Time:
          <div id="utc"></div>
            <script>
            function getUTCTime() {
              dt = new Date();
              utcdt = dt.toUTCString();
              document.getElementById('utc').innerHTML = utcdt;
              setTimeout(getUTCTime, 1000);
            }
            getUTCTime();
            </script>
        </div>
      </div>
      <div class="column">
        <div id="tzzz"></div>
        <script>
        function getSunURL() {
          let url = "https://www.timeanddate.com/scripts/sunmap.php?iso=" 
          dt1 = new Date();
          yr = dt1.getFullYear();
          mnth = dt1.getMonth();
          mnthint = parseInt(mnth) + 1;
          dy = dt1.getDate();
          hr = dt1.getHours();
          mnts = dt1.getMinutes();
          time =  url + yr + mnthint + dy + "T" + hr + mnts;
          document.getElementById('tzzz').innerHTML = time;
          return time;
        }
        getSunURL()
        </script>
        <figure class="image">
          <img src="https://www.timeanddate.com/scripts/sunmap.php?iso=20210818T1420">
        </figure>
      </div>
    </div>
  </div>  
  </body>
