{% include "main.html" %}
  <div class="block"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          GMT Time:
          <div id="utc"></div>
            <script>
            function getUTCTime() {
              dt = new Date();
              utcdt = dt.toUTCString();
              document.getElementById('utc').innerHTML = utcdt;
              setTimeout(getUTCTime, 1000);
            }
            getUTCTime();
            </script>
        </div>
      </div>
      <div class="column">
      <figure class="image">
        <div id="tzzz"></div>
        <script>
        function getSunURL() {
          let url = "https://www.timeanddate.com/scripts/sunmap.php?iso=" 
          dt1 = new Date();
          yr = dt1.getUTCFullYear();
          mnth = dt1.getUTCMonth();
          mnthint = parseInt(mnth) + 1;
          dy = dt1.getUTCDate();
          hr = dt1.getUTCHours();
          mnts = dt1.getUTCMinutes();
          time =  url + yr + mnthint + dy + "T" + hr + mnts;
          htmtime = "<img src='" + time + "'>";
          document.getElementById('tzzz').innerHTML = htmtime;
          setTimeout(getSunURL, 150000);
        }
        getSunURL()
        </script>
        <img src="/static/flemingo.png"
      </figure>
        </figure>
      </div>
    </div>
  </div>  
  </body>
