{% include "main.html" %}
  <div class="block"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          GMT Time:
          <div id="utc"></div>
            <script>
            function getUTCTime() {
              dt = new Date();
              utcdt = dt.toUTCString();
              document.getElementById('utc').innerHTML = utcdt;
              setTimeout(getUTCTime, 1000);
            }
            getUTCTime();
            </script>
        </div>
      </div>
      <div class="column">
        <div class="box">
          This is now in a box in a different column
        </div>
      </div>
    </div>
  </div>  
  </body>
